# macOS
.DS_Store

# Xcode
DerivedData/
build/

# User Data
xcuserdata/
*.xcuserstate

# SwiftPM
.build/

# Swift Package Manager
Packages/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive
